{{extend 'layout.html'}}
COORDONNEES MAISON DES LIGUES DE LORRAINE

13 rue Jean Moulin - BP 70001
54510 TOMBLAINE
Tél. : 03.83.18.87.02
Fax : 03.83.18.87.03
Email : contact@m2l.fr


DIRECTEUR

Lucien SAPIN
Tél. : 03 83 18 87 02
Fax : 03 83 18 87 03
Email : lucien.gastaldello@m2l.fr


CHARGÉE IMPACT EMPLOI

Nathalie GENAIS
Tél. : 03 83 18 87 05
Email : martine.genoux@m2l.fr


CHARGÉE D’INFOGRAPHIE

Lorette GIROUX
Tél. : 03 83 18 87 06
Email : lorette.bossart@m2l.fr


SECRÉTAIRE COMPTABLE

Martine DUPONT
Tél. : 03 83 18 87 07
Fax : 03 83 18 87 03
Email : jeannine.vuillemard@m2l.fr
